@tailwind base;
@tailwind components;
@tailwind utilities;


.weather-app {
  background-image: url("./bg-4.jpg");
}
.weather-app::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 0;
}

.glass-bg {
  background-color: #FFFFFF20;
  backdrop-filter: blur(10px);
  border: 1px solid #FFFFFF30;
}